/*Styling for Etch-A-Sketch*/

/* Grid Box Container Styling */
.grid-container{
    background-color: rgb(249, 173, 225);
}
/* Individual Grid Box Styling */
 .grid-box{
    height: auto;
    width: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    border-width: 5px;
    border-color: white;
    border-radius: 8px;
 }
