/*Styling for Etch-A-Sketch*/
body{
    background-color: rgb(177, 225, 248);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 20px;
}
button{
    background-color: rgb(55, 214, 242);
    color: white;
    border-radius: 8px;
    border-color: none;
    font-size: 22px;
}
.heading .title{
    
    font-size: 48px;
    color: black;
}
.instructions{
    font-size: 24px;
    color: black;
}

/* Grid Box Container Styling */
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 800px;
    height: 800px;
    flex-wrap: wrap;

    
    
}

/* Individual Box Styling */
.grid-box {
    width: 50px;
    height: 50px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    box-sizing: border-box; /*ensures the border is not part of the size*/


}

